---
import { render } from "astro:content";
import BaseLayout from "../../layouts/Layout.astro";
import ContentLayout from "../../layouts/content.astro";
import ArticleHeader from "./_components/article-header.astro";

import { articlesHandler } from "../../handlers/articles";

export const getStaticPaths = async () => {
  const articles = articlesHandler.allArticles();

  return articles.map((article) => ({
    params: { id: article.id },
    props: { article },
  }));
};
const { article } = Astro.props;

const { Content, remarkPluginFrontmatter, headings } = await render(article);
---

<BaseLayout entry={article}>
  <ArticleHeader
    article={article}
    readingTime={remarkPluginFrontmatter.minutesRead}
    headings={headings}
  />
  <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
  ></script>
  <script is:inline>
    window.googletag = window.googletag || { cmd: [] };
    googletag.cmd.push(function () {
      googletag
        .defineSlot(
          "/22983082078/videoads",
          [300, 250],
          "div-gpt-ad-1738697832016-0"
        )
        .addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
  </script>
  <!-- /22983082078/videoads -->
  <div
    id="div-gpt-ad-1738697832016-0"
    style="min-width: 300px; min-height: 250px;"
  >
    <script is:inline>
      googletag.cmd.push(function () {
        googletag.display("div-gpt-ad-1738697832016-0");
      });
    </script>
  </div>
  <ContentLayout>
    <Content />
  </ContentLayout>
</BaseLayout>
