<div
  id="ad-container-left"
  style="border: none; height: 300px; width: 750px; margin: 0 auto; position: relative;"
>
  <iframe
    data-google-container-id="a!2"
    data-load-complete="true"
    frameborder="0"
    height="300"
    id="ad-iframe-left"
    marginheight="0"
    marginwidth="0"
    name="ad-iframe-left"
    sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
    scrolling="no"
    src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-5591515314789878&output=html&adk=2062069824&adf=3025194257&lmt=1705043566&w=300&rafmt=1&format=750x300&url=https://prisri.org/&host=ca-host-pub-5591515314789878&"
    style="border: 0; height: 300px; width: 750px;"></iframe>
</div>
