<div class="">
  <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-format="autorelaxed"
      data-ad-client="ca-pub-5591515314789878"
      data-ad-slot="9468311422"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  <!-- /22983082078/prisriorg -->
  <!-- <div id="div-gpt-ad-1738670701142-0">
    <script is:inline>
      googletag.cmd.push(function () {
        googletag.display("div-gpt-ad-1738670701142-0");
      });
    </script>
  </div> -->
</div>
