---
import Headlines from "../components/sections/headlines.astro";
import LatestNews from "../components/sections/latestNews.astro";
import Authors from "../components/sections/authors.astro";

import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";
const entry = await getEntry("views", "home");

if (!entry) {
  return Astro.redirect("/404");
}
---

<Layout entry={entry}>
  <Headlines />
  <LatestNews />
  <div class="container">
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-format="autorelaxed"
      data-ad-client="ca-pub-5591515314789878"
      data-ad-slot="9468311422"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <Authors />
</Layout>
