---
import "../assets/css/globals.css";
import Footer from "../components/base/Footer.astro";
import Head from "../components/base/Head.astro";
import Header from "../components/base/Header.astro";
---

<!doctype html>
<html lang="en">
  <Head
    meta={{
      title: "Astro News",
      metaTitle: "Astro News",
      description: "The latest news from the stars",
      type: "website",
      ogImage: "/og-image.png",
    }}
  />
  <body>
    <Header />
    <slot />
    <Footer/>
  </body>
</html>