---
import "../assets/css/globals.css";
import Footer from "../components/base/Footer.astro";
import Head from "../components/base/Head.astro";
import Header from "../components/base/Header.astro";
import { getMeta } from "../utils/getMeta";
import type { Entry } from "../types";
type Props = {
  entry: Entry;
};

const { entry } = Astro.props;

const meta = await getMeta(entry);
---

<!doctype html>
<html lang="en">
  <Head meta={meta} />
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
